.pl {
    width: 6em;
    height: 6em;
}

.pl__ring {
    animation: ringA 2s linear infinite;
}

.pl__ring--a {
    stroke: #f42f25;
}

.pl__ring--b {
    animation-name: ringB;
    stroke: #f49725;
}

.pl__ring--c {
    animation-name: ringC;
    stroke: #255ff4;
}

.pl__ring--d {
    animation-name: ringD;
    stroke: #f42582;
}

/* Animations */
@keyframes ringA {

    from,
    4% {
        strokeDasharray: 0 660;
        strokeWidth: 20;
        strokeDashoffset: -330;
    }

    12% {
        strokeDasharray: 60 600;
        strokeWidth: 30;
        strokeDashoffset: -335;
    }

    32% {
        strokeDasharray: 60 600;
        strokeWidth: 30;
        strokeDashoffset: -595;
    }

    40%,
    54% {
        strokeDasharray: 0 660;
        strokeWidth: 20;
        strokeDashoffset: -660;
    }

    62% {
        strokeDasharray: 60 600;
        strokeWidth: 30;
        strokeDashoffset: -665;
    }

    82% {
        strokeDasharray: 60 600;
        strokeWidth: 30;
        strokeDashoffset: -925;
    }

    90%,
    to {
        strokeDasharray: 0 660;
        strokeWidth: 20;
        strokeDashoffset: -990;
    }
}

@keyframes ringB {

    from,
    12% {
        strokeDasharray: 0 220;
        strokeWidth: 20;
        strokeDashoffset: -110;
    }

    20% {
        strokeDasharray: 20 200;
        strokeWidth: 30;
        strokeDashoffset: -115;
    }

    40% {
        strokeDasharray: 20 200;
        strokeWidth: 30;
        strokeDashoffset: -195;
    }

    48%,
    62% {
        strokeDasharray: 0 220;
        strokeWidth: 20;
        strokeDashoffset: -220;
    }

    70% {
        strokeDasharray: 20 200;
        strokeWidth: 30;
        strokeDashoffset: -225;
    }

    90% {
        strokeDasharray: 20 200;
        strokeWidth: 30;
        strokeDashoffset: -305;
    }

    98%,
    to {
        strokeDasharray: 0 220;
        strokeWidth: 20;
        strokeDashoffset: -330;
    }
}

@keyframes ringC {
    from {
        strokeDasharray: 0 440;
        strokeWidth: 20;
        strokeDashoffset: 0;
    }

    8% {
        strokeDasharray: 40 400;
        strokeWidth: 30;
        strokeDashoffset: -5;
    }

    28% {
        strokeDasharray: 40 400;
        strokeWidth: 30;
        strokeDashoffset: -175;
    }

    36%,
    58% {
        strokeDasharray: 0 440;
        strokeWidth: 20;
        strokeDashoffset: -220;
    }

    66% {
        strokeDasharray: 40 400;
        strokeWidth: 30;
        strokeDashoffset: -225;
    }

    86% {
        strokeDasharray: 40 400;
        strokeWidth: 30;
        strokeDashoffset: -395;
    }

    94%,
    to {
        strokeDasharray: 0 440;
        strokeWidth: 20;
        strokeDashoffset: -440;
    }
}

@keyframes ringD {

    from,
    8% {
        strokeDasharray: 0 440;
        strokeWidth: 20;
        strokeDashoffset: 0;
    }

    16% {
        strokeDasharray: 40 400;
        strokeWidth: 30;
        strokeDashoffset: -5;
    }

    36% {
        strokeDasharray: 40 400;
        strokeWidth: 30;
        strokeDashoffset: -175;
    }

    44%,
    50% {
        strokeDasharray: 0 440;
        strokeWidth: 20;
        strokeDashoffset: -220;
    }

    58% {
        strokeDasharray: 40 400;
        strokeWidth: 30;
        strokeDashoffset: -225;
    }

    78% {
        strokeDasharray: 40 400;
        strokeWidth: 30;
        strokeDashoffset: -395;
    }

    86%,
    to {
        strokeDasharray: 0 440;
        strokeWidth: 20;
        strokeDashoffset: -440;
    }
}